.welcome-card{
    height: 170px;
}

.welcome-card-header-text{
    font-family: Roboto;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
}

.welcome-card-sub-text{
    font-family: Roboto;
    font-size: 20px;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
}