<mat-card class="doctor-view-card" [class.mat-elevation-z2]=true>
  <div fxLayout="row">
    <img class="avatar-img" src="../../assets/dp2.jpg" />
    <div class="view-header-container" fxLayout="column">
      <p class="view-header-text-main">Dr. John Diego, <span class="view-header-text">M(35)</span></p>
      <p class="view-header-subtext">M. D. Medicine, Children Specialist</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="45px" class="data-grid">
    <mat-grid-tile>
      <div fxLayout="row" fxLayout="start center" fxFlex="100">
        <mat-icon class="card-icon">add_location</mat-icon>
        <p class="grid-text">Oakland, California</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div fxLayout="row" fxLayout="start center" fxFlex="100">
        <mat-icon class="card-icon">corporate_fare</mat-icon>
        <p class="grid-text">Morristown Medical Center</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div fxLayout="row" fxLayout="start center" fxFlex="100">
        <mat-icon class="card-icon">payment</mat-icon>
        <p class="grid-text">Insurance</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div fxLayout="row" fxLayout="start center" fxFlex="100">
        <mat-icon class="card-icon">star</mat-icon>
        <p class="grid-text">Preferred Doctor</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
